<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">填选申报</h3>
    </div>
    <form action="__SELF__" method="post" enctype="multipart/form-data">
        <div class="box-body">

            <div class="form-group">
                <label for="title">红头文件</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="输入标题">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">点击上传附件</label>
                <input type="file" id="exampleInputFile" name="file">
            </div>
            <div id="myEditor" style="height: 300px;" name="content">
                <h1 style="text-align: center;">
                    请输入申报标题
                </h1>
                <p>
                    <br/>
                </p>正文．．．
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <!-- /.box-body -->
</div>

<script>
var um = UM.getEditor('myEditor');
</script>