<div class="box">
    <div class="box-body">
        <table id="table" class="table table-bordered table-striped dataTable table-hover "></table>
    </div>
</div>



<script type="text/javascript">

    var table;
    $(document).ready( function () {
        table = $('#table').DataTable({
            "ajax": {
                "url": "__SELF__?type=data",
                //"dataSrc": "data",//默认为data
                "type": "post",
                "error": function () {
                    swal({
                        title: "错误!",
                        text: "服务器未正常响应，请重试",
                        type: "error",
                        confirmButtonText: "知道了"
                    });
                }
            },
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": true,
            "columns": [
                {
                    "data": "id",
                    "title": "选中",
                    "width": "5%",
                    "defaultContent": "", "mRender": function (data, type, full) {
                    return "<label>" +
                        "<input type='checkbox' name='box' style='height: 18px;width: 18px;' value='" + data + "' id='" + data + "'>" +
                        "</label>";
                }
                },
                {"data": "declare_title", "title": "申报标题", "sClass": "text-center", "defaultContent": ""},
                {"data": "teacher_name", "title": "申报人", "sClass": "text-center", "defaultContent": ""},
                {
                    "data": "add_time", "title": "申报时间","width":"15%" ,"sClass": "text-center","defaultContent": "",
                    "mRender": function (data, type, full) {
                    return new Date(parseInt(data) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");
                }
                },
                {
                    "data": 'declare_state',
                    "title": "进度",
                    "sClass": "text-center",
                    "defaultContent": "",
                    "mRender": function (data, type, full) {
                        if (data == 0 ){
                            data = '未评审';
                        }else if(data == -1){
                            data = '被驳回';
                        } else{
                            if (data == 1){
                                var title = '部门负责人已审核';
                            }else if(data == 2){
                                var title = '办公室已登记';
                            }else if(data == 3){
                                var title = '办公室已检查';
                            }else if (data == 4){
                                var title = '校领导已同意,申报通过!'
                            }
                            data = '<div class="progress progress-xs progress-striped active" title="'+title+'">' +
                                '<div class="progress-bar progress-bar-primary" style="width:' + (data * 25) + '%"></div>' +
                                '</div>';
                        }
                        return data;
                    }
                },
                {
                    "data": "declare_attachment",
                    "title": "附件",
                    "sClass": "text-center",
                    "defaultContent": "",
                    "mRender": function (data, type, full) {
                        if(data){
                            data = "有";
                        }else{
                            data = "无";
                        }
                        return data;
                    }
                },
                {
                    "data": 'declare_state', "title": "操作", "sClass": "text-center", "defaultContent":"",
                    "mRender": function (data, type, full) {
                        if ({$Think.session.teacher_level}-1 <=  data){
                            data = 'disabled title="你已评审"';
                            var fail = 'disabled title="已通过,无法驳回"';
                        }else if (data == -1){
                            data ='disabled title="已被驳回"';
                            var fail = 'disabled title="不要重复驳回"';
                        } else{
                            data = '';
                        }
                        return   "<div class='btn-group'>" +
                            "<button type='button' class='edit-btn fa fa-search-plus btn btn-info'  id='info'>详细</button>" +
                            <eq name="btn_flag" value='true'>
                            "<button type='button' class='edit-btn fa fa-mail-forward btn btn-success'  id='check' style='margin-left: 5px' "+
                            " "+data+">通过</button>" +
                            "<button type='button' class='delete-btn fa fa-reply-all btn btn-danger' id='fail' style='margin-left: 5px' "+
                            ""+fail+">驳回</button>" +
                            </eq>
                        "</div>";
                    }

                }

            ],
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });

        $("#table tbody").on("click","#info",function(){

            var row=table.row($(this).parents("tr"));
            var data=row.data();
            var id = data['id'];
            window.open("{:U('Declare/timeLine')}?id="+id);
        });

        $("#table tbody").on("click","#check",function(){

            var row=table.row($(this).parents("tr"));
            var data=row.data();
            var id = data['id'];
            if ("{$register_flag}" == true){
                swal({
                        title: "登记",
                        text: "根据规定，您必须输入登记编号",
                        type: "input",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        animation: "slide-from-top",
                        inputPlaceholder: "登记编号"
                    },
                    function (inputValue) {
                        if (inputValue === false) return false;

                        if (inputValue === "") {
                            swal.showInputError("编号不能为空");
                            return false
                        }

                        $.ajax({
                            url:"__SELF__?type=check",
                            type:"post",
                            dataType:"json",
                            data:{'check_data':id,'register_id':inputValue}

                        })
                            .done(function (msg) {
                                if (msg == 0){
                                    swal({
                                        title: "错误!",
                                        text: "服务器未正常响应，请重试",
                                        type: "error",
                                        confirmButtonText: "知道了"
                                    });
                                }else{
                                    table.ajax.reload();
                                    swal("成功", '操作成功！', "success");
                                }
                            })
                            .fail(function () {
                                console.log('fail');
                                swal({
                                    title: "错误!",
                                    text: "服务器未正常响应,请重试",
                                    type: "error",
                                    confirmButtonText: "知道了"
                                });
                            });
                    });
            }else{

                $.ajax({
                    url:"__SELF__?type=check",
                    type:"post",
                    dataType:"text",
                    data:{'check_data':id}
                })
                    .done(function (msg) {
                        if (msg == 0){
                            swal({
                                title: "错误!",
                                text: "服务器未正常响应，请重试",
                                type: "error",
                                confirmButtonText: "知道了"
                            });
                        }else{
                            table.ajax.reload();
                            swal("成功", '操作成功！', "success");
                        }
                    })
                    .fail(function () {
                        swal({
                            title: "错误!",
                            text: "服务器未正常响应,请重试",
                            type: "error",
                            confirmButtonText: "知道了"
                        });
                    });
            }
        });

        $("#table tbody").on("click","#fail",function() {

            var row = table.row($(this).parents("tr"));
            var data = row.data();
            var id = data['id'];
            var reason = '';
            swal({
                    title: "驳回",
                    text: "根据规定，您必须输入驳回理由",
                    type: "input",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "驳回理由"
                },
                function (inputValue) {
                    if (inputValue === false) return false;

                    if (inputValue === "") {
                        swal.showInputError("理由不能为空");
                        return false
                    }
                    reason = inputValue;
                    $.ajax({
                        url:"__SELF__?type=fail",
                        type:"post",
                        dataType:"text",
                        data:{'fail_data':id,'fail_reason':reason}

                    })
                        .done(function (msg) {
                            if (msg == 0){
                                swal({
                                    title: "错误!",
                                    text: "服务器未正常响应，请重试",
                                    type: "error",
                                    confirmButtonText: "知道了"
                                });
                            }else{
                                table.ajax.reload();
                                swal("成功", '操作成功！', "success");
                            }
                        })
                        .fail(function () {
                            console.log('fail');
                            swal({
                                title: "错误!",
                                text: "服务器未正常响应,请重试",
                                type: "error",
                                confirmButtonText: "知道了"
                            });
                        });
                });


            });



    });











</script>
